In [1]:
import google.generativeai as genai
import os
from PIL import Image
import pandas as pd
from tqdm.notebook import tqdm
import time
import numpy as np

genai.configure(api_key="AIzaSyAobOQBDYxOuTX9Xa67iAozyXwluvvsQhg")

In [2]:
df = pd.read_csv("../datasets/waterbird/metadata.csv")
df.head(5)

,img_id,img_filename,y,split,place,place_filename
0,1,001.Black_footed_Albatross/Black_Footed_Albatr...,1,2,1,/o/ocean/00002178.jpg
1,2,001.Black_footed_Albatross/Black_Footed_Albatr...,1,0,1,/l/lake/natural/00000065.jpg
2,3,001.Black_footed_Albatross/Black_Footed_Albatr...,1,2,0,/b/bamboo_forest/00000131.jpg
3,4,001.Black_footed_Albatross/Black_Footed_Albatr...,1,0,1,/o/ocean/00001268.jpg
4,5,001.Black_footed_Albatross/Black_Footed_Albatr...,1,0,1,/o/ocean/00003147.jpg

In [3]:
LANDBIRD = 0
WATERBIRD = 1
LAND = 0
WATER = 1

In [4]:
train_df = df[df['split'] == 0]
val_df = df[df['split'] == 1]
test_df = df[df['split'] == 2]

train_df.reset_index(inplace=True)
val_df.reset_index(inplace=True)
test_df.reset_index(inplace=True)

len(train_df), len(test_df), len(val_df)

(4795, 5794, 1199)

In [58]:
start, end = 200, 400
test_df = test_df.iloc[start:end]

In [105]:
model = genai.GenerativeModel(model_name="gemini-1.5-flash",
                              system_instruction="Are those waterbirds or a landbirds? Just give birdtype for each image sperated by comma")

In [107]:
inference_data = []
batch = []

for idx, row in tqdm(test_df.iterrows(), total=len(test_df)):
    img_filename = row['img_filename']
    img_label = int(row['y'])
    place = int(row['place'])
    
    
    batch.append({
        'img_filename': img_filename,
        'img_label': img_label,
        'place': place
    })

    if (idx + 1) % 5 == 0:
        images = []
        for data in batch:
            img = Image.open(os.path.join("./datasets/waterbird", data['img_filename']))
            images.append(img)

        response = model.generate_content(images)
        response = response.text.strip()
        
        print(response)
        
        for prediction, entry in zip(response.split(","), batch):
            inference_data.append({
                'img_filename': entry['img_filename'],
                'img_label': entry['img_label'],
                'place': entry['place'],
                'predicted': prediction
            })

        batch = []
        # break
        
        delay = 5
        time.sleep(delay)

  0%|          | 0/200 [00:00<?, ?it/s]

waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, landbird, landbird
landbird, landbird, landbird, landbird, landbird
landbird, landbird, landbird, landbird, landbird
landbird, landbird, landbird, landbird, landbird
landbird, landbird, landbird, landbird, landbird
landbird, landbird, landbird, landbird, landbird
landbird, landbird, landbird, waterbird, waterbird
waterbird, waterbird, landbird, waterbird, landbird
waterbird, waterbird, waterbird, landbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, landbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, waterbird
waterbird, waterbird, waterbird, waterbird, landbird
landbird, landbird, landbird, landbird, landbird
landbird, landbird, landbird, landbird, landbird
landbird, landbird, landbird, landbird, landbird

In [108]:
np.save(f'./inference_data_{start}_{end - 1}.npy', inference_data)